<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="https://www.kmutt.ac.th/wp-content/uploads/2020/09/KMUTT_CI_Semi_Logo-normal-full-1061x1200.png" type="image/png">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>

    <div class="content">
        <h1>หน้า home</h1>
        <p>This website was create for Admin</p>
    </div>
</body>
</html>