<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>

    <div class="content">
        <h1>หน้า home</h1>
        <p>ที่มาและความสำคัญ: เว็บไซต์นี้ถูกสร้างมาสำหรับ Admin</p>
    </div>
</body>
</html>
